Repository gmarino2048/AGD_Project, pull requests merged in 2018-09, with the labels that each got.

#11 Merging into Master
  Master Project/Assets/Scripts.meta
  Master Project/Assets/Scripts/Cooking.meta
  Master Project/Assets/Scripts/Dating.meta
  Master Project/Assets/Scripts/General.meta
Labels: Other, Programming

#32 Artist Naming Rules
  CONTRIBUTING.md
Labels: Other

#52 I worked on the tools and matierals for the food
  Art/Davis_Qave Art Folder/Chinese Vampire.psd
  Art/Davis_Qave Art Folder/FOOD LAYOUT.psd
  Art/Davis_Qave Art Folder/Gargolye.psd
Labels: Art

#54 Added art assets
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Dodomeki.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Dodomeki.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Interior Concept.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Interior Concept.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Nessie.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Nessie.psd
Labels: Art

#55 Mazur Art Upload1
  Art/Mazur_Assets/Illustrator/MazurBattleUI.ai
  Art/Mazur_Assets/Illustrator/MazurInGameUI.ai
  Art/Mazur_Assets/Illustrator/MazurMainMenuUI.ai
  Art/Mazur_Assets/PNG/MazurBattleUI-01.png
  Art/Mazur_Assets/PNG/MazurBattleUIGuide.png
  Art/Mazur_Assets/PNG/MazurUxUiFonts.png
  Art/Mazur_Assets/PNG/MazurUxUiMenus.png
  Art/Mazur_Assets/PNG/MazurWheresWolf.png
  Art/Mazur_Assets/PSD/MazurUxUiFonts.psd
  Art/Mazur_Assets/PSD/MazurUxUiMenus.psd
  Art/Mazur_Assets/PSD/MazurWheresWolf.psd
Labels: Art

#56 Sians Concept Art Assets put into folders
  Art/Phillips_Assets/Phillips_Mothman_2.png
  Art/Phillips_Assets/Phillips_Mothman_2.psd
  Art/Phillips_Assets/Phillips_Slime_1.png
  Art/Phillips_Assets/Phillips_Slime_1.psd
Labels: Art

#60 Mazur art upload
  Art/Mazur_Assets/Illustrator/MazurDialogueUI.ai
  Art/Mazur_Assets/Illustrator/MazurMainMenuLayout.ai
  Art/Mazur_Assets/PNG/MazurBattleUIArt-01.png
  Art/Mazur_Assets/PNG/MazurCreditsMenu-01.png
  Art/Mazur_Assets/PNG/MazurDialogueUI-01.png
  Art/Mazur_Assets/PNG/MazurDialogueUIArt-01.png
  Art/Mazur_Assets/PNG/MazurDialogueUIGuide-01.png
  Art/Mazur_Assets/PNG/MazurInGameUIGuide.png
  Art/Mazur_Assets/PNG/MazurIngameUI.png
  Art/Mazur_Assets/PNG/MazurInstructionsMenu-01-01.png
  Art/Mazur_Assets/PNG/MazurMainMenuArt-01.png
  Art/Mazur_Assets/PNG/MazurMainMenuLayout-01.png
  Art/Mazur_Assets/PNG/MazurOptionsMenu-01.png
Labels: Art

#59 Battle theme demo
  Art/Sound/Bright_BattleDemo_1.mp3
Labels: Sound

#63 Pizarro backgrounds
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Cutting Board BG.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Fight BG.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Grill BG.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Microwave BG.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Mixing BG.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Shake n Bake.psd
Labels: Art

#85 Demo Cooking SFX
  Art/Sound/Cooking SFX/Bright_Chop Chop_1 Hit V1.mp3
  Art/Sound/Cooking SFX/Bright_Chop Chop_1 Hit V1.wav
  Art/Sound/Cooking SFX/Bright_Chop Chop_3 Hit V1.mp3
  Art/Sound/Cooking SFX/Bright_Chop Chop_3 Hit V1.wav
  Art/Sound/Cooking SFX/Bright_Chop Chop_Multi V1.mp3
  Art/Sound/Cooking SFX/Bright_Chop Chop_Multi V1.wav
  Art/Sound/Cooking SFX/Bright_Crunch Sounds_V1.mp3
  Art/Sound/Cooking SFX/Bright_Grill Sizzle_V1.mp3
  Art/Sound/Cooking SFX/Bright_Microwave Beep_V1.mp3
  Art/Sound/Cooking SFX/Bright_Microwave Close_V1.mp3
  Art/Sound/Cooking SFX/Bright_Microwave Open_V1.mp3
  Art/Sound/Cooking SFX/Bright_Microwave Start_V1.mp3
  Art/Sound/Cooking SFX/Bright_Pebble Shaker_V1.mp3
  Art/Sound/Cooking SFX/Bright_Plate Smack_V1.mp3
  Art/Sound/Cooking SFX/Bright_Shaker_V1.mp3
  Art/Sound/Cooking SFX/Bright_Spatula Scrapes_V1.mp3
Labels: Sound

#83 Pizarro backgrounds
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_CuttingBoardBG_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_CuttingBoardBG_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Dodomeki_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Dodomeki_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_FightBG_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_FightBG_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_GrillBG_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_GrillBG_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_IngredientSelection_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_IngredientSelection_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_IngredientSelection_V2.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_IngredientSelection_V2.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_InteriorConcept_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_InteriorConcept_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_MicrowaveBG_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_MicrowaveBG_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_MixingBG_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_MixingBG_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_NessieDialogue_V1.pdf
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Nessie_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_Nessie_V1.psd
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_ShakenBake_V1.png
  Art/Pizarro-Ruiz_Assets/Pizarro-Ruiz_ShakenBake_V1.psd
Labels: Art

#84 Cerberus Dialogue .txt file
  Art/Hudson_Assets/Hudson_CerberusDialogue.txt
Labels: Writing

#87 Updated Battle/Dialogue UI and Options Menu
  Art/Mazur_Assets/Illustrator/Mazur_Battle_UI_2.ai
  Art/Mazur_Assets/Illustrator/Mazur_Dialogue_UI_2.ai
  Art/Mazur_Assets/Illustrator/Mazur_MainMenu_UI_2.ai
  Art/Mazur_Assets/PNG/Mazur_Battle_UI_2.png
  Art/Mazur_Assets/PNG/Mazur_Battle_UI_2_Guide.png
  Art/Mazur_Assets/PNG/Mazur_Battle_UI_Art_2.png
  Art/Mazur_Assets/PNG/Mazur_Dialogue_UI_2.png
  Art/Mazur_Assets/PNG/Mazur_Dialogue_UI_Art_2.png
  Art/Mazur_Assets/PNG/Mazur_Dialogue_UI_Guide_2.png
  Art/Mazur_Assets/PNG/Mazur_Options_Menu_2.png
Labels: Art

#100 Tutorial UI
  Art/UXUI/Illustrator/Mazur_Tutorial_UI_1.ai
  Art/UXUI/PNG/Tutorial/Mazur_Chopping_Cut.png
  Art/UXUI/PNG/Tutorial/Mazur_Chopping_Knife.png
  Art/UXUI/PNG/Tutorial/Mazur_Chopping_Uncut.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Button.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Button_Pressed.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Countdown_0.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Countdown_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Countdown_2.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Countdown_3.png
  Art/UXUI/PNG/Tutorial/Mazur_Microwave_Stop_Text.png
  Art/UXUI/PNG/Tutorial/Mazur_Shaker.png
  Art/UXUI/PNG/Tutorial/Mazur_Spacebar.png
  Art/UXUI/PNG/Tutorial/Mazur_Spacebar_Pressed.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_Mouse_Icon.png
Labels: Art

#103 MainMenu Background
  Art/UXUI/Illustrator/Mazur_MainMenu_UI_3ai.ai
  Art/UXUI/PNG/Mazur_MainMenu_Art_2.png
Labels: Art

#101 Tutorial Animations
  Art/Animations/Editor_Files/Hudson_FlameLoop_1.fla
  Art/Animations/Editor_Files/Hudson_FlameStart_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveClose_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveLoop_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveMASTER_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveOpen_1.fla
  Art/Animations/Editor_Files/Hudson_Microwave_1.fla
  Art/Animations/Editor_Files/Hudson_TUTChop_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicroTimer_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicrowave_1.fla
  Art/Animations/Editor_Files/Hudson_TUTShake_1.fla
  Art/Animations/User_Files/Hudson_FlameLoop.gif
  Art/Animations/User_Files/Hudson_FlameLoop_1.gif
  Art/Animations/User_Files/Hudson_FlameStart.gif
  Art/Animations/User_Files/Hudson_FlameStart_1.gif
  Art/Animations/User_Files/Hudson_MicrowaveLoop_1.gif
  Art/Animations/User_Files/Hudson_TUTChop_1.gif
  Art/Animations/User_Files/Hudson_TUTMicroTimer_1.gif
  Art/Animations/User_Files/Hudson_TUTMicrowave_1.gif
  Art/Animations/User_Files/Hudson_TUTShake_1.gif
Labels: Art
