Repository gmarino2048/AGD_Project, pull requests merged in 2018-10, with the labels that each got.

#105 Dialogue marino
  Master Project/Assets/Scenes/Combat/Scripts.meta
  Master Project/Assets/Scenes/Dialogue/DialogueScene.unity
  Master Project/Assets/Scenes/Grill/Assets.meta
Labels: Bug Report, Programming

#118 MonsterData loading V1
  Master Project/Assets/Scripts/Monsters.meta
  Master Project/Assets/Scripts/Monsters/MonsterData.cs
  Master Project/Assets/Scripts/Monsters/MonsterData.cs.meta
Labels: Programming

#125 Tutorial Assets 2
  Art/UXUI/Illustrator/Mazur_Tutorial_UI_2.ai
  Art/UXUI/PNG/Tutorial/Mazur_Grill_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Grill_Cooked_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Grill_Uncooked_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Spatula_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Spoon_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Stir_Bowl_Back_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Stir_Bowl_Front_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Stir_Bowl_Liquid_1.png
Labels: Art

#127 Pizarro background revisions
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_CuttingBoardBG_2.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_CuttingBoardBG_3.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_GrillBG_2.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_MicrowaveBG_2.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_MicrowaveBG_3.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_MixingBG_2.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_MixingBG_3.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_ShakenBake_1.psd
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_ShakenBake_2.psd
  Art/Backgrounds/PNGs/Pizarro-Ruiz_CuttingBoardBG_3.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_GrillBG_2.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_MicrowaveBG_2.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_MicrowaveBG_3.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_MixingBG_2.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_MixingBG_3.png
  Art/Dialogue/Pizarro-Ruiz_NessieDialogue_V2.pdf
Labels: Art

#129 Pizarro background revisions
  Art/Backgrounds/Editor_Files/Pizarro-Ruiz_IngredientSelection_3.psd
  Art/Backgrounds/PNGs/Pizarro-Ruiz_IngredientSelection_3.png
  Art/Backgrounds/PNGs/Pizarro-Ruiz_ShakenBake_2.png
Labels: Art

#130 Instructions, Credits, and Food
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0001.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0002.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0003.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0004.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0005.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0006.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0007.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0008.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0009.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0010.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0011.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0012.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0013.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0014.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0015.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0016.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0017.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0018.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0019.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0020.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0021.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0022.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0023.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0024.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0025.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0026.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0027.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0028.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0029.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0030.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0031.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0032.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0033.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0034.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0035.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0036.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0037.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0038.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0039.png
  Art/Animations/User_Files/HudsonMicrowaveLoop/Hudson_MicrowaveLoop0040.png
  Art/Food_Assets/PNGs/Mazur_Bones_1.png
  Art/Food_Assets/PNGs/Mazur_Eggs_1.png
  Art/Food_Assets/PNGs/Mazur_VoidGoo_1.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_1.png
  Art/UXUI/Illustrator/Mazur_MainMenu_UI_4.ai
  Art/UXUI/PNG/Mazur_MainMenu_Credits_2.png
  Art/UXUI/PNG/Mazur_MainMenu_Instructions_2.png
Labels: Art

#132 Added Dialogue and Fonts
  Art/Dialogue/Phillips_[REDACTED]Dialogue_1.docx
  Art/Dialogue/Phillips_[REDACTED]Dialogue_1.pdf
  Art/Dialogue/Pizarro-Ruiz_NessieDialogue_1.pdf
  Art/Dialogue/Pizarro-Ruiz_NessieDialogue_3.docx
  Art/Dialogue/Pizarro-Ruiz_NessieDialogue_V2.pdf
  Art/Fonts/Comfortaa-Bold.ttf
  Art/Fonts/Comfortaa-Light.ttf
  Art/Fonts/Comfortaa-Regular.ttf
  Art/Fonts/FONTLOG.txt
  Art/Fonts/Love.ttf
  Art/Fonts/OFL.txt
  Art/Fonts/donate.html
Labels: Writing

#147 Redact. Cerb. Battle Tracks
  Art/Sound/Cerberus is Barkin For Battle.mp3
  Art/Sound/ReDacted Unleashes V O I D Pitch Shifted.mp3
Labels: Sound

#150 Nessie Battle Track
  Art/Sound/Nessie Drowns Out the Competition.mp3
Labels: Sound

#158 Microwave Sprite Sheet
  Art/Animations/Editor_Files/RECOVER_Hudson_MicrowaveMASTER_2.fla
  Art/Animations/Editor_Files/RECOVER_Hudson_MicrowaveOpen_2.fla
  Art/Animations/User_Files/Sprite Sheets/Hudson_MicrowaveOpenSPRITE_1.png
Labels: Art

#159 Sprite Sheets
  Art/Animations/Editor_Files/Hudson_FlameLoop_1.fla
  Art/Animations/Editor_Files/Hudson_FlameStart_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveMASTER_2.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveOpen_2.fla
  Art/Animations/Editor_Files/Hudson_TUTChop_2.fla
  Art/Animations/Editor_Files/Hudson_TUTGrill_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicroTimer_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicrowave_1.fla
  Art/Animations/Editor_Files/Hudson_TUTShake_2.fla
  Art/Animations/Editor_Files/Hudson_TUTStir_1.fla
  Art/Animations/Editor_Files/OLD FILE VERSIONS/Hudson_TUTShake_1.fla
  Art/Animations/Editor_Files/RECOVER_Hudson_MicrowaveMASTER_2.fla
  Art/Animations/Editor_Files/RECOVER_Hudson_MicrowaveOpen_2.fla
  Art/Animations/User_Files/Sprite Sheets/Hudson_FlameLoop_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_FlameStart_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_Microwave_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTChop_2.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTGrill_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTMicroTimer_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTMicrowave_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTShake_2.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTStir_1.png
Labels: Art

#164 Nessie Sketches
  Art/Monsters/Editor_Files/Pizarro-Ruiz_NessieBattleSketch1.psd
  Art/Monsters/Editor_Files/Pizarro-Ruiz_NessieSpriteSketches1.psd
Labels: Art

#168 A whole bunch of work for scoring and dialog
  .gitignore
  Master Project/Assets/Data/Monsters.xml
  Master Project/Assets/Data/Monsters.xml.meta
  Master Project/Assets/Scenes/Dialogue/DialogueScene.unity
  Master Project/Assets/Scenes/Dialogue/Scripts/DialogueManager.cs
  Master Project/Assets/Scenes/Dialogue/Scripts/NextButton.cs
  Master Project/Assets/Scripts/Dialog/DialogDataManager.cs
  Master Project/Assets/Scripts/DishScoreManager.cs
  Master Project/Assets/Scripts/Monsters/MonsterData.cs
  Master Project/Assets/Scripts/Monsters/MonsterFactory.cs
  Master Project/Assets/Scripts/Monsters/MonsterFactory.cs.meta
  Master Project/Assets/Scripts/PersistentObject.cs
  Master Project/Assets/Scripts/PersistentObject.cs.meta
Labels: Programming

#161 Digital SFX
  Art/Sound/Digital SFX/Correct Ingredient.mp3
  Art/Sound/Digital SFX/Enter Diner.mp3
  Art/Sound/Digital SFX/Manager Meter Critical LowerPitch.mp3
  Art/Sound/Digital SFX/Manager Meter Critical.mp3
  Art/Sound/Digital SFX/Manager Meter Goes Down.mp3
  Art/Sound/Digital SFX/Manager Meter Goes Up.mp3
  Art/Sound/Digital SFX/Manager Meter Hits 0.mp3
  Art/Sound/Digital SFX/Menu Navigation.mp3
  Art/Sound/Digital SFX/Menu Selection.mp3
  Art/Sound/Digital SFX/Monster Approval.mp3
  Art/Sound/Digital SFX/Monster DisApproval (Fight).mp3
  Art/Sound/Digital SFX/Monster Game Over.mp3
  Art/Sound/Digital SFX/Monster Misses.mp3
  Art/Sound/Digital SFX/Monster is Hit LowerPitch.mp3
  Art/Sound/Digital SFX/Monster is Hit.mp3
  Art/Sound/Digital SFX/Order Up.mp3
  Art/Sound/Digital SFX/Player HP Goes Down.mp3
  Art/Sound/Digital SFX/Player HP Going Up.mp3
  Art/Sound/Digital SFX/Player HP Hits 0.mp3
  Art/Sound/Digital SFX/Player HP Low.mp3
  Art/Sound/Digital SFX/Player Hit.mp3
  Art/Sound/Digital SFX/Wrong Ingredient.mp3
Labels: Sound

#174 Stirring goldberg3
  Master Project/Assets/Enums/IngredientType.cs
  Master Project/Assets/Scenes/Stirring/Pizarro-Ruiz_MixingBG_3.png
  Master Project/Assets/Scenes/Stirring/Pizarro-Ruiz_MixingBG_3.png.meta
  Master Project/Assets/Scenes/Stirring/ScoreKeeperScript.cs
  Master Project/Assets/Scenes/Stirring/ScoreKeeperScript.cs.meta
  Master Project/Assets/Scenes/Stirring/Stiring.unity
  Master Project/Assets/Scenes/Stirring/spoonScript.cs
  Master Project/Assets/Scenes/Stirring/stirringTimer.cs
Labels: Programming

#178 Fixed a bounding error and caught exception
  Master Project/Assets/Scenes/Shaking/Shaking Scripts/ScorekeeperBehavior.cs
  Master Project/Assets/Scenes/Shaking/Shaking Scripts/ShakerBehavior.cs
Labels: Programming

#180 Mazur menu pngs and food assets
  Art/Food_Assets/Editor_Files/Mazur_Phillips_Davis_Food_Layout_3.psd
  Art/Food_Assets/PNGs/Mazur_MixedEggs_1.png
  Art/Food_Assets/PNGs/Mazur_MixingBowl_1.png
  Art/Food_Assets/PNGs/Mazur_MixingEggs_1.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_Cooked_1.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_Cooked_2.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_Cooked_3.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_PartialCooked_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Credits_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Credits_BackButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_BackButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_Background_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_CreditsButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_InstructionsButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_OptionsButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_QuitButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_StartButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_BackButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_EggSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_PancakeSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_QaveLogoSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SoundSlider_1.png
Labels: Art

#192 Minigame Animations
  Art/Animations/Editor_Files/Hudson_MINIMixMaster.fla
  Art/Animations/Editor_Files/Hudson_MINIShake_Gravel_1.fla
  Art/Animations/User_Files/Hudson_MINIMixEggCombined_1.gif
  Art/Animations/User_Files/Hudson_MINIMixEggSeparated_1.gif
  Art/Animations/User_Files/Hudson_MINIMixEggTransition_1.gif
  Art/Animations/User_Files/Hudson_MINIMixMaster_1.gif
  Art/Animations/User_Files/Hudson_MINIMixSpoonConstant_1.gif
  Art/Animations/User_Files/Hudson_MINIMixSpoonFadeIn_1.gif
  Art/Animations/User_Files/Hudson_MINIMixSpoonFadeOut_1.gif
  Art/Animations/User_Files/Hudson_MINIShake_Gravel_1.gif
  Art/Animations/User_Files/Hudson_MINIShake_Souls_1.gif
  Art/Animations/User_Files/Sprite Sheets/Hudson_KnifeWhatever.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMixEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMixSpoon_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIShake_Gravel_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIShake_Souls_1.png
  Art/Monsters/Editor_Files/Hudson_CerbCombatSketches_1.psd
  Art/Monsters/Editor_Files/Hudson_CerbFinalSketches_1.psd
Labels: Art

#191 Added New PSD for Monster Lineart
  Art/Monsters/Editor_Files/Phillips_MonsterLineart_2.psd
Labels: Art

#196 Stabilize xml loader crowley
  Master Project/Assets/Scripts/Dialog/DialogDataManager.cs
  Master Project/Assets/Scripts/Monsters/MonsterFactory.cs
Labels: Programming

#194 Miscellaneous Upload
  Art/Food_Assets/Editor_Files/Mazur_Grill_Food_1.psd
  Art/Food_Assets/PNGs/Mazur_Grill_BeefCooked_1.png
  Art/Food_Assets/PNGs/Mazur_Grill_BeefPartialCooked_1.png
  Art/Food_Assets/PNGs/Mazur_Grill_BeefUncooked_1.png
  Art/Tool_Assets/PNGs/Mazur_Grill_Spatula_1.png
  Art/UXUI/Illustrator/Mazur_Dialogue_UI_3.ai
  Art/UXUI/Illustrator/Mazur_MainMenu_UI_5.ai
  Art/UXUI/PNG/Mazur_Dialogue_NameUI_1.png
  Art/UXUI/PNG/Mazur_Dialogue_NameUI_Cerberus_1.png
  Art/UXUI/PNG/Mazur_Dialogue_NameUI_Nessie_1.png
  Art/UXUI/PNG/Mazur_Dialogue_NameUI_Redacted_1.png
Labels: Art

#197 Its a Knife
  Art/Tool_Assets/PNGs/Phillips_Knife_3.png
Labels: Art

#198 Add combat stuff to XML and implement
  Master Project/Assets/Enums/CombatChoice.cs
  Master Project/Assets/Enums/CombatChoice.cs.meta
  Master Project/Assets/Scenes/Combat/Qi_Scripts/FlatterHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/ManagerBar.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/MonsterAction.cs
  Master Project/Assets/Scenes/Dialogue/DialogueScene.unity
  Master Project/Assets/Scripts/Monsters/CombatChoiceStatus.cs
  Master Project/Assets/Scripts/Monsters/CombatChoiceStatus.cs.meta
  Master Project/Assets/Scripts/Monsters/MonsterData.cs
  Master Project/Assets/Scripts/Monsters/MonsterFactory.cs
  Master Project/Assets/StreamingAssets/Data/Monsters.xml
Labels: Programming

#222 Mazur Grill Meat Upload
  Art/Food_Assets/PNGs/Mazur_Grill_BeefBurned_1.png
  Art/Food_Assets/PNGs/Mazur_Grill_BeefOverCooked_1.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_Burnt_1.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_Cooked_4.png
  Art/Food_Assets/PNGs/Mazur_WeirdSteak_OverCooked_1.png
Labels: Art
