Repository gmarino2048/AGD_Project, pull requests merged in 2018-11, with the labels that each got.

#223 integrated assetts
  Master Project/Assets/Scenes/Main Menu/Main Menu.unity
  Master Project/Assets/Scenes/Main Menu/Scripts/PlayOnclick.cs
  Master Project/Assets/Scenes/Main Menu/Sprites.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Credits_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Credits_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Credits_BackButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Credits_BackButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Instructions_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Instructions_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Instructions_BackButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Instructions_BackButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_Background_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_Background_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_CreditsButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_CreditsButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_InstructionsButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_InstructionsButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_OptionsButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_OptionsButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_QuitButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_QuitButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_StartButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_MainMenu_StartButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_BackButton_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_BackButton_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_EggSlider_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_EggSlider_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_PancakeSlider_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_PancakeSlider_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_QaveLogoSlider_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_QaveLogoSlider_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_SoundSlider_1.png
  Master Project/Assets/Scenes/Main Menu/Sprites/Mazur_Options_SoundSlider_1.png.meta
  Master Project/Assets/Scenes/Main Menu/Sprites/backarrow.jpg
  Master Project/Assets/Scenes/Main Menu/Sprites/backarrow.jpg.meta
Labels: Programming

#224 Combat Scene Update
  Master Project/Assets/Scenes/Combat/CombatScene.unity
  Master Project/Assets/Scenes/Combat/Pizarro-Ruiz_FightBGCounter_1.png
  Master Project/Assets/Scenes/Combat/Pizarro-Ruiz_FightBGCounter_1.png.meta
  Master Project/Assets/Scenes/Combat/Pizarro-Ruiz_FightBG_V2.png
  Master Project/Assets/Scenes/Combat/Pizarro-Ruiz_FightBG_V2.png.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Rogue_animations/Rogue_01.controller
  Master Project/Assets/Scenes/Combat/Qi_Scripts/BegHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/CouponHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/FreeFoodHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/LevelChanger.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/LevelChanger.cs.meta
  Master Project/Assets/Scenes/Combat/Qi_Scripts/OfferDrinkHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/PauseMenu.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Reason.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Scoring.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Scoring.cs.meta
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Talk.cs
Labels: Programming

#240 Update Art/Food_Assets/PNGs/IceCreamContainer_1.png
  Art/Food_Assets/PNGs/IceCreamContainer_1.png
Labels: Art

#253 Update Art/Food_Assets/PNGs/Stick_2.png
  Art/Food_Assets/PNGs/Stick_2.png
Labels: Art

#246 Minigame Animations
  Art/Animations/Editor_Files/Hudson_MINIGrillMASTER_1.fla
  Art/Animations/Editor_Files/Hudson_MINIMixMaster_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveMASTER_2.fla
  Art/Animations/Editor_Files/Hudson_MiniCans_1.fla
  Art/Animations/Editor_Files/Hudson_TUTChop_2.fla
  Art/Animations/Editor_Files/Hudson_TUTGrill_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicroTimer_1.fla
  Art/Animations/Editor_Files/Hudson_TUTMicrowave_1.fla
  Art/Animations/Editor_Files/Hudson_TUTShake_2.fla
  Art/Animations/User_Files/Hudson_MINIGrill_BurnedBeef_1.gif
  Art/Animations/User_Files/Hudson_MINIGrill_BurnedWeirdSteak_1.gif
  Art/Animations/User_Files/Hudson_MINIMix_Chili_1.gif
  Art/Animations/User_Files/Hudson_MINIMix_IceCream_1.gif
  Art/Animations/User_Files/Hudson_MicrowaveBeans_1.gif
  Art/Animations/User_Files/Hudson_MicrowaveSlime.gif
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIGrill_BeefBurn_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIGrill_SteakBurn_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Bean_Erratic_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Bean_Loop_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Bean_Open_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Meat_Erratic_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Meat_Loop_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Meat_Open_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Slime_Erratic_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Slime_Loop_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMicrowave_Slime_Open_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_MixedChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_MixedEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_MixedIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_StirContinuous_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_StirEnd_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_StirStart_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_TransitionChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_TransitionEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_TransitionIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_UnmixedChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_UnmixedEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_CCW_UnmixedIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_MixedChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_MixedEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_MixedIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_StirContinuous_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_StirEnd_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_StirStart_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_TransitionChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_TransitionEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_TransitionIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_UnmixedChili_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_UnmixedEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_MINIMix_UnmixedIceCream_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_Microwave_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTChop_2.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTGrill_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTMicroTimer_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTMicrowave_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTShake_2.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_TUTStir_1.png
  Art/Dialogue/Hudson_CerberusDialogue.txt
  Art/Dialogue/Hudson_CerberusDialouge_2.txt
Labels: Art

#256 Pizarro ruiz character colors
  Art/Monsters/Editor_Files/Pizarro-Ruiz_MonsterColorPalette_1.psd
  Art/Monsters/Editor_Files/Pizarro-Ruiz_MonsterLineart_3.psd
  Art/Monsters/PNGs/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusAttack_1.png
  Art/Monsters/PNGs/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusDamaged_1.png
  Art/Monsters/PNGs/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusNeutral_1.png
  Art/Monsters/PNGs/Combat/Nessie/Pizarro-Ruiz_CombatNessieAttack_1.png
  Art/Monsters/PNGs/Combat/Nessie/Pizarro-Ruiz_CombatNessieDamaged_1.png
  Art/Monsters/PNGs/Combat/Nessie/Pizarro-Ruiz_CombatNessieNeutral_1.png
  Art/Monsters/PNGs/Combat/Redacted/Pizarro-Ruiz_CombatRedactedAttack_1.png
  Art/Monsters/PNGs/Combat/Redacted/Pizarro-Ruiz_CombatRedactedDamaged_1.png
  Art/Monsters/PNGs/Combat/Redacted/Pizarro-Ruiz_CombatRedactedNeutral_1.png
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusBad_1.png
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusGood_1.png
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusNeutral_1.png
  Art/Monsters/PNGs/Dialogue/Nessie/Pizarro-Ruiz_DialogueNessieBad_1.png
  Art/Monsters/PNGs/Dialogue/Nessie/Pizarro-Ruiz_DialogueNessieGood_1.png
  Art/Monsters/PNGs/Dialogue/Nessie/Pizarro-Ruiz_DialogueNessieNeutral_1.png
  Art/Monsters/PNGs/Dialogue/Redacted/Pizarro-Ruiz_DialogueRedactedBad_1.png
  Art/Monsters/PNGs/Dialogue/Redacted/Pizarro-Ruiz_DialogueRedactedGood_1.png
  Art/Monsters/PNGs/Dialogue/Redacted/Pizarro-Ruiz_DialogueRedactedNeutral_1.png
Labels: Art

#260 Health Bars, Tutorial Backgrounds, and updated Pause menu
  Art/UXUI/Illustrator/Mazur_Battle_UI_3.ai
  Art/UXUI/Illustrator/Mazur_PauseMenu_2.ai
  Art/UXUI/Illustrator/Mazur_Tutorial_UI_3.ai
  Art/UXUI/PNG/Mazur_Battle_UI_HealthBar_1.png
  Art/UXUI/PNG/Mazur_Battle_UI_HealthBar_2.png
  Art/UXUI/PNG/Mazur_Battle_UI_Healthbars_1.png
  Art/UXUI/PNG/Mazur_Battle_UI_Healthbars_2.png
  Art/UXUI/PNG/Mazur_Battle_UI_ManagerMeterRed_1.png
  Art/UXUI/PNG/Mazur_Battle_UI_ManagerMeter_1.png
  Art/UXUI/PNG/Mazur_Battle_UI_ManagerMeter_2.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_4.png
  Art/UXUI/PNG/Tutorial/Mazur_ScoreBar_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_Background_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_FullScreen_Background_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_NextButton_1.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_NextButton_2.png
Labels: Art

#261 Game Over Screen
  Art/Backgrounds/PNGs/Bright_Game Over Screen.png
  Art/Bright_Assets/Bright_GameOverScreen2.png.png
  Art/Bright_Assets/Game Over Screen.png
Labels: Art

#255 Flame Loop Sprite Sheet Update.
  Art/Animations/Editor_Files/Hudson_COMBAT_Nessie_1.fla
  Art/Animations/Editor_Files/Hudson_MicrowaveMASTER_2.fla
  Art/Animations/User_Files/Hudson_COMBAT_Nessie_1.gif
  Art/Animations/User_Files/Sprite Sheets/Hudson_COMBAT_NessieAll_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_COMBAT_NessieStacked_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_FlameLoop_1.png
  Art/Animations/User_Files/Sprite Sheets/Hudson_FlameStart_1.png
  Art/Animations/User_Files/Sprite Sheets/OLD FILE VERSIONS/Hudson_KnifeWhatever.png
  Art/Animations/User_Files/Sprite Sheets/OLD FILE VERSIONS/Hudson_MINIMixEggs_1.png
  Art/Animations/User_Files/Sprite Sheets/OLD FILE VERSIONS/Hudson_Microwave_1.png
Labels: Art

#266 New scenes crowley
  Master Project/Assets/Enums/DialogAnimState.cs
  Master Project/Assets/Enums/DialogAnimState.cs.meta
  Master Project/Assets/Scenes/Dialogue/DialogueScene.unity
  Master Project/Assets/Scenes/Dialogue/Scripts/DialogueManager.cs
  Master Project/Assets/Scenes/FinalChoice.meta
  Master Project/Assets/Scenes/FinalChoice/FinalChoice.unity
  Master Project/Assets/Scenes/FinalChoice/FinalChoice.unity.meta
  Master Project/Assets/Scenes/FinalChoice/Prefabs.meta
  Master Project/Assets/Scenes/FinalChoice/Prefabs/MonsterChoiceButton.prefab
  Master Project/Assets/Scenes/FinalChoice/Prefabs/MonsterChoiceButton.prefab.meta
  Master Project/Assets/Scenes/FinalChoice/Scripts.meta
  Master Project/Assets/Scenes/FinalChoice/Scripts/FinalChoiceSceneManager.cs
  Master Project/Assets/Scenes/FinalChoice/Scripts/FinalChoiceSceneManager.cs.meta
  Master Project/Assets/Scenes/Monologue.meta
  Master Project/Assets/Scenes/Monologue/Monologue.unity
  Master Project/Assets/Scenes/Monologue/Monologue.unity.meta
  Master Project/Assets/Scenes/Monologue/Scripts.meta
  Master Project/Assets/Scenes/Monologue/Scripts/MonologueSceneManager.cs
  Master Project/Assets/Scenes/Monologue/Scripts/MonologueSceneManager.cs.meta
  Master Project/Assets/Scenes/NameEntry.meta
  Master Project/Assets/Scenes/NameEntry/NameEntry.unity
  Master Project/Assets/Scenes/NameEntry/NameEntry.unity.meta
  Master Project/Assets/Scenes/NameEntry/Scripts.meta
  Master Project/Assets/Scenes/NameEntry/Scripts/NameEntrySceneManager.cs
  Master Project/Assets/Scenes/NameEntry/Scripts/NameEntrySceneManager.cs.meta
  Master Project/Assets/Scripts/CombatInitiator.cs
  Master Project/Assets/Scripts/Dialog/DialogDataManager.cs
  Master Project/Assets/Scripts/Dialog/Prompt.cs
  Master Project/Assets/Scripts/DishPreparationManager.cs
  Master Project/Assets/Scripts/GameNarrative.meta
  Master Project/Assets/Scripts/GameNarrative/Monologue.cs
  Master Project/Assets/Scripts/GameNarrative/Monologue.cs.meta
  Master Project/Assets/Scripts/GameNarrative/Narrative.cs
  Master Project/Assets/Scripts/GameNarrative/Narrative.cs.meta
  Master Project/Assets/Scripts/GameNarrative/Stage.cs
  Master Project/Assets/Scripts/GameNarrative/Stage.cs.meta
  Master Project/Assets/Scripts/GameNarrativeManager.cs
  Master Project/Assets/Scripts/GameNarrativeManager.cs.meta
  Master Project/Assets/Scripts/GameSettings.cs
  Master Project/Assets/Scripts/GameSettings.cs.meta
  Master Project/Assets/StreamingAssets/Data/GameNarrative.xml
  Master Project/Assets/StreamingAssets/Data/GameNarrative.xml.meta
  Master Project/Assets/StreamingAssets/Data/MonsterDialog.xml
  Master Project/Assets/StreamingAssets/Data/Monsters.xml
  Master Project/ProjectSettings/EditorBuildSettings.asset
Labels: Programming

#264 Update Art/Sound/Monster Date Aquired.mp3
  Art/Sound/Monster Date Aquired.mp3
Labels: Sound

#268 Update main menu to go to name entry
  Master Project/Assets/Scenes/Main Menu/Main Menu.unity
Labels: Programming

#275 Actual microwave re do goldberg
  Master Project/Assets/Scenes/Grill/Assets/Prefabs.meta
  Master Project/Assets/Scenes/Grill/Assets/Sprite Sheets/Flame Start.meta
  Master Project/Assets/Scenes/Microwave/Assets/Hudson_MicrowaveLoop_1.gif
  Master Project/Assets/Scenes/Microwave/Assets/Hudson_MicrowaveLoop_1.gif.meta
  Master Project/Assets/Scenes/Microwave/Microwaving.unity
  Master Project/Assets/Scenes/Microwave/Scripts/MicrowaveTimerScript.cs
  Master Project/Assets/Scenes/Stirring/Scripts/StirringTimer.cs
  Master Project/Assets/Scenes/Stirring/tutorial.meta
Labels: Programming

#276 Pizarro ruiz logos
  Art/UXUI/PNG/Pizarro-Ruiz_IngredientMarker_1.png
  Art/UXUI/PNG/Pizarro-Ruiz_LogoSketches_1.png
  Art/UXUI/PNG/Pizarro-Ruiz_RedX_1.png
  Art/UXUI/PSD/Pizarro-Ruiz_LogoSketches_1.psd
Labels: Art

#270 Pause Menu Individual Assets
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_BackButton_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_Background_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_DialogueBox_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_QuitButton_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_ScrollBar_Icon_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_SoundSlider_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_SoundSlider_Egg_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_SoundSlider_Qave_1.png
  Art/UXUI/PNG/PauseMenu/Mazur_PauseMenu_SoundSlider_Waffle_1.png
Labels: Art

#279 Grill marino
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Flame Start.meta
  Master Project/Assets/Scenes/Grill/Grill.unity
Labels: Art, Programming

#282 Updates and new food files
  Art/Food_Assets/PNGs/CrushedSouls_2.png
  Art/Food_Assets/PNGs/GravelTilt_1.png
  Art/Food_Assets/PNGs/SoulsTilt_2.png
  Art/Food_Assets/PNGs/ignore.png
Labels: Art

#293 Pizarro ruiz cerberus recolor
  Art/Monsters/Editor_Files/Pizarro-Ruiz_MonsterLineart_3.psd
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusBad_1.png
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusGood_1.png
  Art/Monsters/PNGs/Dialogue/Cerberus/Pizarro-Ruiz_DialogueCerberusNeutral_1.png
  Art/Monsters/PNGs/Dialogue/Nessie/Pizarro-Ruiz_NessieWater_1.png
Labels: Art

#308 I fixed my shit for the bone and pepper sprites
  Art/Food_Assets/PNGs/Bone_1.png
  Art/Food_Assets/PNGs/CutintoBone_1.png
  Art/Food_Assets/PNGs/CutintoPepper_1.png
  Art/Food_Assets/PNGs/PepperCut_1.png
  Art/Food_Assets/PNGs/Pepper_1.png
Labels: Art

#309 Davis food touch ups
  Art/Food_Assets/PNGs/CutintoBone_1.png
  Art/Food_Assets/PNGs/CutintoPepper_1.png
Labels: Art

#310 Ill use a Knife
  Art/Tool_Assets/PNGs/Phillips_Knife_4.png
Labels: Art

#312 Final Knife Animation
  Art/Animations/Editor_Files/OLD FILE VERSIONS/Hudson_MINIChop_Knife_1.fla
  Art/Animations/Editor_Files/OLD FILE VERSIONS/RECOVER_Hudson_MINIChop_Knife_1.fla
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30001.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30002.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30003.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30004.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30005.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30006.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30007.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30008.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30009.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30010.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30011.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30012.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30013.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30014.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30015.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30016.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30017.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30018.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30019.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30020.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30021.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30022.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30023.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Chopping_Knife_3/Hudson_MINI_Chopping_Knife_30024.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20001.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20002.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20003.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20004.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20005.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20006.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20007.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20008.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20009.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20010.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20011.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20012.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20013.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20014.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20015.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20016.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20017.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20018.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20019.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20020.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20021.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20022.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20023.png
  Art/Animations/User_Files/png sequences/Minigames/Old File Versions/Hudson_MINI_Chopping_Knife_2/Hudson_MINIChop_Knife_20024.png
Labels: Art

#313 Microwave Fonttttt
  Art/Fonts/OCRAStd.otf
  Art/Fonts/ocrastd.png
  Art/Fonts/sharefonts.net.txt
Labels: Art

#316 Tutorial screens without button
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_Background_1_WithoutButton.png
  Art/UXUI/PNG/Tutorial/Mazur_Tutorial_FullScreen_Background_1_WB.png
Labels: Art

#294 ingredient scene point/score deduction along with labels for ingredients
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Flame Start.meta
  Master Project/Assets/Scenes/Ingredients/Art/Pizarro-Ruiz_IngredientMarker_1.png
  Master Project/Assets/Scenes/Ingredients/Art/Pizarro-Ruiz_IngredientMarker_1.png.meta
  Master Project/Assets/Scenes/Ingredients/Art/Pizarro-Ruiz_RedX_1.png
  Master Project/Assets/Scenes/Ingredients/Art/Pizarro-Ruiz_RedX_1.png.meta
  Master Project/Assets/Scenes/Ingredients/IngredientsScene.unity
  Master Project/Assets/Scenes/Ingredients/Prefab/IngredientChoice.prefab
  Master Project/Assets/Scenes/Ingredients/Scripts/DragIngredient.cs
  Master Project/Assets/Scenes/Ingredients/Scripts/IngredientChoiceLocation.cs
  Master Project/Assets/Scenes/Ingredients/Scripts/IngredientText.cs
  Master Project/Assets/Scenes/Ingredients/Scripts/IngredientText.cs.meta
  Master Project/Assets/Scenes/Ingredients/Scripts/IngredientsManager.cs
  Master Project/Assets/Scripts/Monsters/MonsterData.cs
Labels: Programming

#326 Put Qi's scene into project
  Master Project/Assets/Scenes/Combat/Cerberus.meta
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusAttack_1.png
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusAttack_1.png.meta
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusDamaged_1.png
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusDamaged_1.png.meta
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusNeutral_1.png
  Master Project/Assets/Scenes/Combat/Cerberus/Pizarro-Ruiz_CombatCerberusNeutral_1.png.meta
  Master Project/Assets/Scenes/Combat/CombatScene.unity
  Master Project/Assets/Scenes/Combat/Comfortaa-Regular.ttf
  Master Project/Assets/Scenes/Combat/Comfortaa-Regular.ttf.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus.controller
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus.controller.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Attack.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Attack.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Damaged.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Damaged.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Idle.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/Cerberus_Idle.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/Nessie_Attack.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/Nessie_Damaged.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED.controller
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED.controller.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Attack.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Attack.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Damaged.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Damaged.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Idle.anim
  Master Project/Assets/Scenes/Combat/Qi_Animation/REDACTED_Idle.anim.meta
  Master Project/Assets/Scenes/Combat/Qi_Scripts/AudioController.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/BegHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/CouponHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/FlatterHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/FreeFoodHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Heal.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/HealthBar.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/ManagerBar.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/MonsterAction.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/OfferDrinkHandler.cs
  Master Project/Assets/Scenes/Combat/Qi_Scripts/Reason.cs
  Master Project/Assets/Scenes/Combat/Redacted.meta
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedAttack_1.png
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedAttack_1.png.meta
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedDamaged_1.png
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedDamaged_1.png.meta
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedNeutral_1.png
  Master Project/Assets/Scenes/Combat/Redacted/Pizarro-Ruiz_CombatRedactedNeutral_1.png.meta
  Master Project/Assets/Scenes/Grill/Assets/DemoAnimation.anim.orig
  Master Project/Assets/Scenes/Grill/Assets/DemoLoop.anim.orig
Labels: Art, Programming

#324 Game over goldberg
  Master Project/Assets/Scenes/GameOver.meta
  Master Project/Assets/Scenes/GameOver/Assets.meta
  Master Project/Assets/Scenes/GameOver/Assets/Bright_Game Over Screen.png
  Master Project/Assets/Scenes/GameOver/Assets/Bright_Game Over Screen.png.meta
  Master Project/Assets/Scenes/GameOver/Assets/Monster_Game_Over.mp3
  Master Project/Assets/Scenes/GameOver/Assets/Monster_Game_Over.mp3.meta
  Master Project/Assets/Scenes/GameOver/Game OVer.unity
  Master Project/Assets/Scenes/GameOver/Game OVer.unity.meta
  Master Project/Assets/Scenes/GameOver/GameOverScript.cs
  Master Project/Assets/Scenes/GameOver/GameOverScript.cs.meta
  Master Project/ProjectSettings/ProjectSettings.asset
Labels: Art, Programming

#334 Grill Tutorial Fixes
  Master Project/Assets/Scenes/Grill/Assets/UI.meta
  Master Project/Assets/Scenes/Grill/Assets/UI/Mazur_Tutorial_Background_1.png
  Master Project/Assets/Scenes/Grill/Assets/UI/Mazur_Tutorial_Background_1.png.meta
  Master Project/Assets/Scenes/Grill/Grill.unity
  Master Project/Assets/Scenes/Grill/Scripts/CanvasManager.cs
  Master Project/Assets/Scenes/Grill/Scripts/ScoreKeeperBehavior.cs
Labels: Art, Programming

#335 Shaking Tutorial/etc updates
  Master Project/Assets/Scenes/Shaking/Scripts/ScorekeeperBehavior.cs
  Master Project/Assets/Scenes/Shaking/Scripts/UIController.cs
  Master Project/Assets/Scenes/Shaking/Shaking.unity
Labels: Art, Programming

#336 Chopping Alterations
  Master Project/Assets/Scenes/Chopping/Chopping.unity
  Master Project/Assets/Scenes/Chopping/Scripts/ScorekeeperBehavior.cs
  Master Project/Assets/Scenes/Chopping/Scripts/UIManager.cs
Labels: Art, Programming

#327 Shaking Sprites
  Art/Dialogue/Mazur_Intro_Monologue_1.txt
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_1.png
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_2.png
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_3.png
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_4.png
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_5.png
  Art/Food_Assets/PNGs/Mazur_AquariumGravel_ShakingSprite_6.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_1.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_2.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_3.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_4.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_5.png
  Art/Food_Assets/PNGs/Mazur_CrushedSouls_ShakingSprite_6.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_AlgaeSlime_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_AquariumGravel_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_Bones_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_CannedBeans_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_CannedMeat_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_Cheese_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_CrushedSouls_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_Eggs_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_GroundBeef_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_IceCream_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_Onions_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_PeculiarPeppers_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_VoidGoo_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_WeirdSteak_1.png
  Art/UXUI/PNG/IngredientsLabel/Mazur_ToolTip_WhippedCream_1.png
  Art/UXUI/PNG/Mazur_MouseIcon_100x125_1.png
  Art/UXUI/PNG/Mazur_MouseIcon_20x25_1.png
Labels: Art

#339 Nessie Date
  Art/Monsters/Editor_Files/Pizarro-Ruiz_NessieDate_1.psd
  Art/Monsters/PNGs/Pizarro-Ruiz_NessieDate_1.png
Labels: Art

#338 Name Screen and Combat Reactions
  Art/Bright_Assets/Combat Reactions/Heal.gif
  Art/Bright_Assets/Combat Reactions/Hit.gif
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0001.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0002.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0003.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0004.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0005.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0006.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0007.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0008.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0009.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0010.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0011.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0012.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0013.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0014.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0015.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0016.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0017.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0018.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0019.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Heal/Heal0020.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0001.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0002.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0003.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0004.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0005.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0006.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0007.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0008.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0009.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0010.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0011.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0012.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0013.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0014.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0015.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0016.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0017.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0018.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0019.png
  Art/Bright_Assets/Combat Reactions/PNG Sequence Hit/Hit0020.png
  Art/Bright_Assets/Name Screen EDIT.png
Labels: Art

#328 Cerberus Splash Art & Algae Opening
  Art/Animations/Editor_Files/Hudson_MicrowaveMASTER_2.fla
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10001.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10002.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10003.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10004.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10005.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10006.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10007.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10008.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10009.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10010.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10011.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10012.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10013.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10014.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10015.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10016.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10017.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10018.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10019.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10020.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10021.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10022.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10023.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10024.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10025.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10026.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10027.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10028.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10029.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10030.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10031.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10032.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10033.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10034.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10035.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10036.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10037.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10038.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10039.png
  Art/Animations/User_Files/png sequences/Minigames/Hudson_MINI_Microwave_Slime_OpenEarly_1/Hudson_MINI_Microwave_Slime_OpenEarly_10040.png
  Art/Backgrounds/Monster Splash Art/CerberusSplash.png
  Art/Backgrounds/Monster Splash Art/CerberusSplash.psd
Labels: Art

#345 Grill marino
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Beef Burn.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Beef Burn.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Beef Cook.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Beef Cook.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Flame Loop.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Flame Loop.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Flame Start.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Beef Burn.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Beef Burn.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Beef Cook.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Beef Cook.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Flame Loop.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Flame Loop.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Flame Start.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Flame Start.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Steak Burn.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Steak Burn.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Steak Cook.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Steak Cook.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Tutorial.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Source/Tutorial.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Steak Burn.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Steak Burn.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Steak Cook.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Steak Cook.png.meta
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Tutorial.png
  Master Project/Assets/Scenes/Grill/Assets/Animation Sprites/Tutorial.png.meta
  Master Project/Assets/Scenes/Grill/Assets/DemoAnimation.anim.orig
  Master Project/Assets/Scenes/Grill/Assets/DemoAnimation.anim.orig.meta
  Master Project/Assets/Scenes/Grill/Assets/DemoLoop.anim.orig
  Master Project/Assets/Scenes/Grill/Assets/DemoLoop.anim.orig.meta
  Master Project/Assets/Scenes/Grill/Grill.unity
  Master Project/Assets/Scenes/Grill/Scripts/AssetManager.cs
  Master Project/Assets/Scenes/Grill/Scripts/AssetManager.cs.meta
  Master Project/Assets/Scenes/Grill/Scripts/AssetSetup.cs
Labels: Art, Programming

#344 Working (but untested) chopping asset manager
  Master Project/Assets/Scenes/Chopping/Chopping.unity
  Master Project/Assets/Scenes/Chopping/Scripts/AssetManager.cs
  Master Project/Assets/Scenes/Chopping/Scripts/AssetManager.cs.meta
Labels: Art, Programming

#346 Full playthrough works
  Master Project/Assets/Scenes/Dialogue/Scripts/DialogueManager.cs
  Master Project/Assets/Scenes/Ingredients/Scripts/IngredientsManager.cs
  Master Project/Assets/Scripts/DishPreparationManager.cs
  Master Project/Assets/StreamingAssets/Data/Monsters.xml
Labels: Programming

#348 Stirring asset changes integrated
  Master Project/Assets/Scenes/Stirring/Assets/Animations/Controllers/Bowl.controller
  Master Project/Assets/Scenes/Stirring/Scripts/AssetManager.cs
  Master Project/Assets/Scenes/Stirring/Scripts/AssetManager.cs.meta
  Master Project/Assets/Scenes/Stirring/Scripts/BowlBehavior.cs
  Master Project/Assets/Scenes/Stirring/Scripts/SpoonBehavior.cs
  Master Project/Assets/Scenes/Stirring/Stirring.unity
  Master Project/ProjectSettings/TagManager.asset
Labels: Art, Programming

#350 Shaking marino
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_1.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_2.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_2.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_3.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_3.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_4.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_4.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_5.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_5.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_6.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Gravel/Mazur_AquariumGravel_ShakingSprite_6.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_1.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_2.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_2.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_3.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_3.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_4.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_4.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_5.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_5.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_6.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_6.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Shakers.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Shakers/Davis_GravelTilt_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Shakers/Davis_GravelTilt_1.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Shakers/Davis_SoulsTilt_2.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Shakers/Davis_SoulsTilt_2.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/SoulTilt_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/WhipCream_1.png
  Master Project/Assets/Scenes/Shaking/Assets/UI/Mazur_Tutorial_Background_1.png
  Master Project/Assets/Scenes/Shaking/Assets/UI/Mazur_Tutorial_Background_1.png.meta
  Master Project/Assets/Scenes/Shaking/Scripts/AccumulationManager.cs
  Master Project/Assets/Scenes/Shaking/Scripts/AccumulationManager.cs.meta
  Master Project/Assets/Scenes/Shaking/Scripts/AssetManager.cs
  Master Project/Assets/Scenes/Shaking/Scripts/AssetManager.cs.meta
  Master Project/Assets/Scenes/Shaking/Shaking.unity
Labels: Art, Programming

#337 Final Monster Sounds
  Art/Sound/Monster SFX 2/Can Banging (Long Sporadic).mp3
  Art/Sound/Monster SFX 2/Egg Beater.mp3
  Art/Sound/Monster SFX 2/Fire.mp3
  Art/Sound/Monster SFX 2/Goo Bubbling (Faster).mp3
  Art/Sound/Monster SFX 2/Goo Bubbling (In Microwave).mp3
  Art/Sound/Monster SFX 2/Goo Bubbling.mp3
  Art/Sound/Monster SFX 2/Goo Stir.mp3
  Art/Sound/Monster SFX 2/Ice Cream Scoop.mp3
  Art/Sound/Monster SFX 2/Ice Cream Stir.mp3
  Art/Sound/Monster SFX 2/Meat Slap.mp3
  Art/Sound/Monster SFX 2/Power Switch.mp3
  Art/Sound/Monster SFX 2/Running Water (Nessie).mp3
  Art/Sound/Monster SFX 2/Souls of the Cooked.mp3
  Art/Sound/Monster SFX 2/Spooky Void Burst No Kick.mp3
  Art/Sound/Monster SFX 2/Spooky Void Burst.mp3
  Art/Sound/Monster SFX 2/Spooky Void Long.mp3
  Art/Sound/Monster SFX 2/Spooky Void Short.mp3
  Art/Sound/Monster SFX 2/Tear Through Reality.mp3
  Art/Sound/Monster SFX 2/Telephone Ringing.mp3
Labels: Sound

#353 Grill marino
  Master Project/Assets/Scenes/Grill/Assets/Audio.meta
  Master Project/Assets/Scenes/Grill/Assets/Audio/Bright_Grill Sizzle_V1.mp3
  Master Project/Assets/Scenes/Grill/Assets/Audio/Bright_Grill Sizzle_V1.mp3.meta
  Master Project/Assets/Scenes/Grill/Assets/Audio/Bright_Plate Smack_V1.mp3
  Master Project/Assets/Scenes/Grill/Assets/Audio/Bright_Plate Smack_V1.mp3.meta
  Master Project/Assets/Scenes/Grill/Assets/Audio/Fire.mp3
  Master Project/Assets/Scenes/Grill/Assets/Audio/Fire.mp3.meta
  Master Project/Assets/Scenes/Grill/Assets/Audio/Meat Slap.mp3
  Master Project/Assets/Scenes/Grill/Assets/Audio/Meat Slap.mp3.meta
  Master Project/Assets/Scenes/Grill/Assets/Prefabs/Steak Prefab.prefab
  Master Project/Assets/Scenes/Grill/Grill.unity
  Master Project/Assets/Scenes/Grill/Scripts/CookObjectController.cs
  Master Project/Assets/Scenes/Grill/Scripts/PlacementController.cs
  Master Project/Assets/Scenes/Grill/Scripts/SFXController.cs
  Master Project/Assets/Scenes/Grill/Scripts/SFXController.cs.meta
  Master Project/Assets/Scenes/Grill/Scripts/ScoreKeeperBehavior.cs
Labels: Programming, Sound

#356 Diaglogue goldberg2
  Master Project/Assets/Scenes/Dialogue/DialogueScene.unity
  Master Project/Assets/Scenes/Dialogue/Scripts/DialogueManager.cs
  Master Project/Assets/Scenes/Dialogue/Scripts/PatronAnimationController.cs
  Master Project/Assets/Scenes/Dialogue/Scripts/PatronAnimationController.cs.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusHappy.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusHappy.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusNeutral.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusNeutral.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusSad.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/CerberusSad.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusBad_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusBad_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusGood_1 (1).png
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusGood_1 (1).png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusNeutral_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/Cerberus/Pizarro-Ruiz_DialogueCerberusNeutral_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieBad.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieBad.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieGood.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieGood.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieNeutral.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/NessieNeutral.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieBad_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieBad_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieGood_1 (1).png
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieGood_1 (1).png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieNeutral_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/Nessie/Pizarro-Ruiz_DialogueNessieNeutral_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/Patron.controller
  Master Project/Assets/Scenes/Dialogue/Sprites/Patron.controller.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedBad_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedBad_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedGood_1 (1).png
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedGood_1 (1).png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedNeutral_1.png
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/Pizarro-Ruiz_DialogueRedactedNeutral_1.png.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedHappy.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedHappy.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedNeutral.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedNeutral.anim.meta
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedSad.anim
  Master Project/Assets/Scenes/Dialogue/Sprites/REDACTED/RedactedSad.anim.meta
Labels: Art, Programming

#358 Buttons and Menu adjustments
  Art/UXUI/PNG/MainMenuAssets/Mazur_Credits_2.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_BackButton_2.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_NextButton_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_Page1_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Instructions_Page2_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_2.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SampleText_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SizeSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SizeSlider_Text_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SpeedSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_SpeedSlider_Text_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_TextSizeAdjustment_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_TextSlider_1.png
  Art/UXUI/PNG/MainMenuAssets/Mazur_Options_TextSpeedAdjustment_1.png
  Art/UXUI/PNG/Mazur_GameOver_ReturnButton_1.png
  Art/UXUI/PNG/Mazur_NameSelection_EnterButton_1.png
Labels: Art

#361 Final food scene goldberg
  Master Project/Assets/Scenes/FoodScoring.meta
  Master Project/Assets/Scenes/FoodScoring/FoodScoreScene.unity
  Master Project/Assets/Scenes/FoodScoring/FoodScoreScene.unity.meta
  Master Project/Assets/Scenes/FoodScoring/Scripts.meta
  Master Project/Assets/Scenes/FoodScoring/Scripts/ScoreTextScript.cs
  Master Project/Assets/Scenes/FoodScoring/Scripts/ScoreTextScript.cs.meta
Labels: Programming

#360 Name entry scene goldberg
  Master Project/Assets/Scenes/FinalChoice/Art.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueCerberusGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueCerberusGood_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueNessieGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueNessieGood_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueRedactedGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueRedactedGood_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/FinalChoice.unity
  Master Project/Assets/Scenes/FinalChoice/Scripts/FinalChoiceSceneManager.cs
  Master Project/Assets/Scenes/Microwave/Assets/Tutorial.meta
  Master Project/Assets/Scenes/Microwave/Assets/Tutorial/TutorialContrroller.controller
  Master Project/Assets/Scenes/Microwave/Assets/Tutorial/TutorialContrroller.controller.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food.meta
  Master Project/Assets/Scenes/Stirring/Assets/Tool.meta
Labels: Art, Programming

#359 Updated Main Menu
  Art/UXUI/PNG/MainMenuAssets/Mazur_MainMenu_Background_2.png
Labels: Art

#366 Fixed some changes
  Master Project/Assets/StreamingAssets/Data/MonsterDialog.xml
Labels: Programming

#365 Combat Nessie Animation
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00000.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00001.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00002.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00003.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00004.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00005.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00006.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00007.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00008.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00009.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00010.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00011.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00012.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00013.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00014.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00015.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00016.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00017.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00018.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00019.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00020.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00021.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00022.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00023.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00024.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00025.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00026.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00027.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00028.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00029.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00030.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00031.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00032.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00033.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00034.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00035.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00036.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00037.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00038.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00039.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00040.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00041.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00042.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00043.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00044.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00045.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00046.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00047.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00048.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00049.png
  Art/Animations/User_Files/png sequences/Combat/Pizarro-Ruiz_CombatNessie_1/CombatNessie_00050.png
Labels: Art

#368 Some sound boys for the chopping scnee
  Art/Sound/Cooking SFX/Phillips_BoneChop_1.mp3
  Art/Sound/Cooking SFX/Phillips_PepperChop_1.mp3
Labels: Sound

#370 Khayrees Upload cause his git broke
  Art/Backgrounds/PNGs/Davis_FinalFoodBackgroundOverlay_1.png
  Art/Backgrounds/PNGs/Davis_FinalFoodBackground_1.png
  Art/Food_Assets/PNGs/Final Foods/Davis_FinalFood_LakeBedShake_1.png
  Art/Food_Assets/PNGs/Final Foods/Davis_FinalFood_Omelette_1.png
  Art/Food_Assets/PNGs/Final Foods/Davis_FinalFood_SoulChilli_1.png
  Art/Food_Assets/PNGs/Minigames/Shaking/Davis_Shaking_Chilli_1.png
  Art/Food_Assets/PNGs/Minigames/Shaking/Davis_Shaking_LakeBed_1.png
Labels: Art

#369 Final Date Scene Numbers
  Art/UXUI/PNG/DateScene/Mazur_PauseMenu_Background_1.png
  Art/UXUI/PNG/DateScene/Phillips_DateNumber_Cerberus_1.png
  Art/UXUI/PNG/DateScene/Phillips_DateNumber_Nessie_1.png
  Art/UXUI/PNG/DateScene/Phillips_DateNumber_REDACTED_1.png
Labels: Art

#382 dialogfixaroo
  Master Project/Assets/StreamingAssets/Data/MonsterDialog.xml
Labels: Programming

#386 Name entry2 goldberg
  Master Project/Assets/Scenes/Dialogue/Assets/Scripts.meta
  Master Project/Assets/Scenes/Dialogue/Assets/UI.meta
  Master Project/Assets/Scenes/NameEntry/NameEntry.unity
  Master Project/Assets/Scenes/NameEntry/Scripts/InputTextScript.cs
  Master Project/Assets/Scenes/NameEntry/Scripts/InputTextScript.cs.meta
  Master Project/Assets/Scripts/MusicManager.cs
Labels: Bug Report, Programming

#381 Official Logo PNGs
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_LogoWhiteBG_1.png
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_LogoWhiteBG_2.png
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_Logo_1.png
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_Logo_2.png
Labels: Art

#377 UI Updates
  Art/UXUI/PNG/Mazur_Battle_UI_3.png
  Art/UXUI/PNG/Mazur_Dialogue_UI_3.png
Labels: Art

#390 Square Logos
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_LogoSquare_1.png
  Art/UXUI/PNG/Logos/Pizarro-Ruiz_LogoSquare_2.png
Labels: Art

#392 Dialogue UI Update
  Art/UXUI/PNG/Mazur_Dialogue_UI_4.png
Labels: Art

#388 Shaking marino
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_3.png.meta~HEAD.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_3.png.meta~origin
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Accumulation/Souls/Mazur_CrushedSouls_ShakingSprite_3.png.meta~origin.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food/Davis_Shaking_Chilli_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food/Davis_Shaking_Chilli_1.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food/Davis_Shaking_LakeBed_1.png
  Master Project/Assets/Scenes/Shaking/Assets/Scene/Food/Davis_Shaking_LakeBed_1.png.meta
  Master Project/Assets/Scenes/Shaking/Assets/Sounds.meta
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Bright_Pebble Shaker_V1.mp3
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Bright_Pebble Shaker_V1.mp3.meta
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Bright_Shaker_V1.mp3
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Bright_Shaker_V1.mp3.meta
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Souls of the Cooked.mp3
  Master Project/Assets/Scenes/Shaking/Assets/Sounds/Souls of the Cooked.mp3.meta
  Master Project/Assets/Scenes/Shaking/Scripts/AssetManager.cs
  Master Project/Assets/Scenes/Shaking/Scripts/SFXManager.cs
  Master Project/Assets/Scenes/Shaking/Scripts/SFXManager.cs.meta
  Master Project/Assets/Scenes/Shaking/Scripts/ShakerBehavior.cs
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/AquariumGravel_1.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/AquariumGravel_1.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/CrushedSouls_1.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/CrushedSouls_1.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/GravelTilt_1.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/GravelTilt_1.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_CrushedSouls_3.gif
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_CrushedSouls_3.gif.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_Gravel_1.gif
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_Gravel_1.gif.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_SoulGhosts_1.gif
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_SoulGhosts_1.gif.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_Souls_2.gif
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_MINIShake_Souls_2.gif.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_TUTShake_2.gif
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Hudson_TUTShake_2.gif.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Pizarro-Ruiz_ShakenBake_2.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Pizarro-Ruiz_ShakenBake_2.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/SoulTilt_1.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/SoulTilt_1.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Souls_1.png
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/Souls_1.png.meta
  Master Project/Assets/Scenes/Shaking/Shaking Sprites/WhipCream_1.png
  Master Project/Assets/Scenes/Shaking/Shaking.unity
Labels: Art, Programming

#394 finished scene
  Master Project/Assets/Scenes/FinalChoice/Art/Mazur_PauseMenu_Background_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Mazur_PauseMenu_Background_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_Cerberus_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_Cerberus_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_Nessie_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_Nessie_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_REDACTED_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_DateNumber_REDACTED_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_REDACTED_DateArt_2.png
  Master Project/Assets/Scenes/FinalChoice/Art/Phillips_REDACTED_DateArt_2.png.meta
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueCerberusGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueNessieGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_DialogueRedactedGood_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_NessieDate_1.png
  Master Project/Assets/Scenes/FinalChoice/Art/Pizarro-Ruiz_NessieDate_1.png.meta
  Master Project/Assets/Scenes/FinalChoice/FinalChoice.unity
  Master Project/Assets/Scenes/FinalChoice/Prefabs/MonsterChoiceButton.prefab
  Master Project/Assets/Scenes/FinalChoice/Scripts/FinalChoiceSceneManager.cs
  Master Project/Assets/Scenes/Stirring/Assets/Tool.meta
  Master Project/Assets/Scripts/GameNarrativeManager.cs
Labels: Art, Programming
